html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0 10px;
    text-align: left;
}

li {
    padding: 5px;
}

li:hover {
    color: rgba(94, 94, 94, 0.6);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

p {
    font-size: 1.5em;
}

.header {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */padding: 1em 2em;
    color: white;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
    text-align: center;
    padding: 0;
    margin: 0;
}