html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

ul {    
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    font-size: 1.1em;
}

li:hover {    
    color: white;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    background: slategray;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: white;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.assignment-link {
    color: white;
    font-style: normal;
    text-decoration: underline;
}

.assignment-link:hover {
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

p {
    font-size: 1.5em;
    background: black;
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: solid 5px darkslategray;
    margin: 0em 0em auto;
}

.header {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */padding: 1em 2em;
    color: white;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 3rem;
    list-style: none;
}

.flex-item {    
    text-align: center;
    padding: 0;
    margin: 1.5em 0em;
    background: aliceblue;
    min-height: 25em;
    min-width: 14em;
    border-radius: 10px 10px 0px 0px;
}

.tier {
    width: 30%;
}

iframe {
    border-radius: 10px;
}

.back {
    width: 5em;
    margin: 2rem;
    position: fixed;
}